/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/workspace.xml
/fltrail.iml
/.idea/workspace.xml
