/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/workspace.xml
/fltrail.iml
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/studentview/.idea/workspace.xml
/.idea/workspace.xml
/gemeinsamforschen/.idea/.name
/gemeinsamforschen/.idea/artifacts/gemeinsamforschen_war_exploded.xml
/gemeinsamforschen/.idea/compiler.xml
/gemeinsamforschen/.idea/copyright/profiles_settings.xml
/gemeinsamforschen/.idea/dataSources.ids
/gemeinsamforschen/.idea/dataSources.local.xml
/gemeinsamforschen/.idea/dataSources.xml
/gemeinsamforschen/.idea/deployment.xml
/gemeinsamforschen/.idea/encodings.xml
/gemeinsamforschen/.idea/misc.xml
/gemeinsamforschen/.idea/modules.xml
/gemeinsamforschen/.idea/workspace.xml
/gemeinsamforschen/gemeinsamforschen.iml
/studentview/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
