.sortableGroup {
    list-style-type: none;
    margin: 0;
    float: left;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    margin-bottom: 20px;
}

.sortableGroup li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
}

th, td {
    padding: 15px;
    text-align: left;
}