.ql-editor {
    cursor: pointer;
}

.ql-container.ql-snow {
    border: none;
}

.ql-editor p {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

#assessmentTemplateResult .list-group-item {
    padding:0;
}

#assessmentTemplateResult .list-group {
    margin-bottom:0;
    margin-top: 40px;
}

#assessmentTemplateResult .list-group .row {
    margin: 40px auto !important;
}