.content-mainpage {
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    height: 100%;
    overflow-y: scroll;
    flex-flow: column nowrap;
}

.container-fluid-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.full-height {
    height: 100%;
}

.flex {
    display: flex;
}

.document-text-buttons {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline;
}

.document-text-buttons-back {
    float: left;
}

.document-text-buttons-next {
    float: right;
}

.file-upload-area {
    height: 20%;
}

.upload-text {
    display: flex;
    flex-flow: column;

    margin-bottom: 20px;
}

.ql-editor {
    min-height:400px;
}

.upload-text label {
    color: #000;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.upload-text-textarea {
    resize: none;
    flex: 1;
}

#upload-textarea-form {
    height: 100%;
    margin-bottom: 15px;
}

label.error {
    color: red;
}

.flex .container-fluid {
    flex: 1;
}

.dropbtn {
    cursor: pointer;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}



