.content-mainpage {
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    height: 100%;
    overflow-y: scroll;
    flex-flow: column nowrap;
}

.container-fluid-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.full-height {
    height: 100%;
}

.flex {
    display: flex;
}

.dropdown.fltrailselect > label {
    font-size: 13px;
    margin-bottom: 0.5em;
}

.file-upload-area {
    height: 20%;
}

.upload-text {
    display: flex;
    flex-flow: column;

    margin-bottom: 20px;
}

.ql-editor {
    min-height:400px;
}

.upload-text label {
    font-size: 1em;
    margin-bottom: .5em;
}

.upload-text-textarea {
    resize: none;
    flex: 1;
}

#upload-textarea-form {
    height: 100%;
    margin-bottom: 15px;
}

label.error {
    color: red;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ededed;
    background: #ededed;
}
#editor {
    background: #ededed;
    padding: 5px;
    border-color: #ededed;
}

.ql-editor {
    background:#fff;
}

a:link {
    text-decoration: none;
}
