.creation-information {
    float: right;
    display: inline-flex;
}

.comment-button {
    float: right;
}

h2 {
    text-align: center;
}

.panel-default > .panel-heading {
    padding: 15px 15px;
    background-color: inherit;
    cursor: none;


}

.btn-primary.panel-heading {
    padding-right: 15px;
    padding-top: 15px;
    position:relative;
    background-color:#ededed;
}

.panel-title {
    width: 95%;
}

.panel-title .row {
    clear: left;
    padding-top: 20px;

}

.creation-date {
    font-size: 1.1em;
}

.creator-info {
    color: inherit;
    text-align: left;
    float: left;
    line-height: 1;
    margin-left:30px;
}

.date-info {
    text-align: right;
    float: right;
    margin-top: 0;
    color: #999;
    font-weight: normal !important;
    font-size: .8em;
}

i.fas.fa-chevron-down {
    font-size: 2.5em;
}

.iconGroup {



}

.iconItem {
    display: block;
}

.iconGroup .iconItem:not(:last-child) {
    margin-bottom: 10px;
}

.iconGroup .btn-primary {
    padding: 0;
    margin-left: 5px;
}

i.fas.fa-edit {
    font-size: 1.5em;
}

.uppercase {
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.ql-container.ql-snow.ql-disabled {
    border: none;
}

.pointer p {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.well {
    float: right;
    width: 75%;
}

.new-comment {
    font-size: 20px;
    margin-bottom: 0;
    align-self: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.accordion {
    margin-top:5px;
}

.accordion .btn-primary.panel-heading {
    background-color:#ededed;
    color: #075f8b !important;
}

.panel-group .panel {
    border:none;
}

.panel .iconGroup #editButton {
    position: absolute;
}

.panel .iconGroup #editButton i.fas.fa-edit {
    font-size: 1em;
    color:#075f8b;
}

.iconGroup .fas.fa-chevron-down {
    right: .5em;
    font-size: 2em;
    position: absolute;
}

.ql-editor {
    padding-left:0;
}

.panel .btn-primary.panel-heading:hover {
    background-color:#075f8b;
}

.panel .btn-primary.panel-heading:hover #editButton.btn-primary,
.panel .btn-primary.panel-heading:hover .fas.fa-chevron-down,
.panel .btn-primary.panel-heading:hover h4.creator-info,
.panel .btn-primary.panel-heading:hover h5.date-info,
.panel .btn-primary.panel-heading:hover p,
.panel .btn-primary.panel-heading:hover label,
.panel .btn-primary.panel-heading:hover #editButton i.fas.fa-edit
{
    background:transparent;
    color:#fff;
    cursor: pointer;
}

.panel .btn-primary.panel-heading #editButton.btn-primary,
.panel .btn-primary.panel-heading .fas.fa-chevron-down,
.panel .btn-primary.panel-heading h4.creator-info,
.panel .btn-primary.panel-heading p,
.panel .btn-primary.panel-heading label
{
    background:transparent;
    color:#075f8b;

}

.panel .btn-primary.panel-heading label {
    display: flex;
    text-decoration: underline;
}

.well {
    border: none;
    -webkit-box-shadow: inset 0 0px 0px #000000d0;
    box-shadow: inset 0 0px 0px #000000d0;
    background-color: #ededed;
    border-radius: 0;
}


.well .ql-editor {
    background:#fff;
    padding:.5em;
}

.well h4.creator-info {
    margin-left:0;
}

#portfolioTemplateResult {
    margin-top:10px;
}