.journal-form-container {
	display: grid;
	grid-gap:  10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"visibility category ..."
	"editor editor editor"
	"buttons ... ...."
	;
} 

.journal-form-visibility{
	grid-area: visibility;
}

.journal-form-category{
	grid-area: category;
}

.journal-form-editor{
	grid-area: editor;
}

.journal-form-buttons{
	grid-area: buttons;
}

