.pg-rest{
    background:#DDDDDD;
}

.pg-enrollment {
    background: #777777;
    width:5%;
}

.pg-groups {
    background: #AAAA77;
    width:15%;
}

.pg-dossier {
    background: #AA77AA;
    width:30%;
}

.pg-feedback {
    background: #77AAAA;
    width:45%;
}

.pg-reflection {
    background: #55AA55;
    width:60%;
}

.pg-presentation {
    background: #5555AA;
    width:70%;
}

.pg-assessment {
    background: #AA5555;
    width:85%;
}

.pg-done {
    background: #34DD44;
    width:100%;
}
