body, html {
    height: 100vh;
    width: 100vw;
}
.content-mainpage {
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    height: 100%;
    overflow-y: hidden;
}
.rightcolumn {
    float: right;
    width: 25%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    overflow: scroll;
}
.leftcolumn {
    padding: 10px;
    float: left;
    width: 75%;
    display: inline-block;
    /* background-color: yellow; */
}
.rightcontent {
    height: 100%;
}
.rightcontent ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    height: 100%;
}
.rightcontent li {
    height: calc((100% - 70px) / 8);
    min-height: 40px;
}
.leftcontent {
    max-height: 100%;
    display: flex;
    flex-flow: column;
    /* background-color: white; */
}
.spacing {
    margin-bottom: 10px;
    /* background-color: orange; */
}
.container-fluid-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.flex {
    display: flex;
}
.flex .container-fluid{
    flex: 1;
}
.full-height {
    height: 100%;
}
.leftcontent-buttons-save {
    float: right;
    margin: 20px;
}
.leftcontent-text {
    overflow: scroll;
    white-space: pre-line;
}
.category-card {
    min-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    overflow: hidden;
}
.category-card p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}
.not-added{
    border-style: dashed;
    border-color: lightgray;
    color: lightgray;
}
.added {
    border-style: solid;
    border-color: lightgreen;
    color: lightgreen;
}

